backtrader==1.9.78.123
EMD_signal==1.6.4
empyrical==0.5.5
empyrical_reloaded==0.5.10
joblib==1.4.2
lightgbm==4.5.0
loguru==0.7.2
matplotlib==3.10.0
numpy==1.23.5
pandas==2.2.3
PyEMD==1.0.0
pyfolio_reloaded==0.9.7
pyqlib==0.9.6
PyYAML==6.0.2
scikit_learn==1.4.2
scipy==1.15.1
tqdm==4.67.0
xgboost==2.1.4
